body {
    background:#0b0b0b;
    color:white;
    font-family:Tahoma;
    text-align:center;
}

.container {
    max-width:400px;
    margin:auto;
}

.card {
    background:#1c1c1c;
    border-radius:20px;
    padding:20px;
    margin:15px;
}

input, select {
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:8px;
    border:none;
}

button {
    width:100%;
    padding:14px;
    background:#00aa00;
    color:white;
    border:none;
    border-radius:10px;
}
